body{
    position: relative;
    min-height: 100vh;
}


.footer{
    position: absolute;
    bottom: -100px;
    width: 100%;
    margin-top: 40px;
    background-color: rgb(28, 27, 27);
    .text_footer{
margin: 0;
padding: 20px;
text-align: center;
color: white;
font-size: 20px;
    }
}