.goBuy{
display: flex;
justify-content: center;
align-items: center;
min-width: 580px;


.buy{
    padding: 14px 28px;
    border-radius: 8px;
background: #8A33FD;
color: #FFF;
border: none;
text-align: center;
font-family: Roboto;
font-size: 18px;
    
}
}