.watchImg{
    margin-top: -3px;
    min-width: 575px;
    height: 843px;
    background-image: url(/src/pages/WatchPage/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
