.headeer{
    background-color: rgb(28, 27, 27);
        display: flex;
        justify-content: space-between;
        padding: 5px 30px;  
        align-items: center;
 .navMenu{
    display: flex;
    gap: 50px;
    list-style: none;
    color: white;
    font-family: 'Roboto', sans-serif;
  
 }

    .container-for-svg{
        display: flex;
        gap: 12px;
    }

}

.numF{
    font-size: 15px;
    position: relative;
    right: 30px;
    top: 25px;
    color: gray;
}

.numB{
    font-size: 15px;
    top: 25px;
    right: 27px;
    position: relative;
    color: gray;
}