.page {
  margin-left: 40px;
@media screen and (min-width:1100px){
  margin-right: 150px;
  margin-left: 150px;
}
.billing{
color: #3C4242;
font-family: Roboto;
font-size: 24px;
font-weight: 100;
line-height: 152%;
max-width: 183px;
}

.checkOut{
    margin-top: 40px;
    margin-bottom: 25px;
    color: #3C4242;
    font-family: Roboto;
    max-width: 183px;
    font-size: 28px;
    font-weight: 100;
    position: relative;
    left: 10px;
    &::before{
    content: "";
    display: block;
    width: 6px;
    height: 28px;
    background: #8A33FD;
    position: absolute;
    border-radius: 10px;
    left: -15px;
    }
}
.InputAndProduct{
  
    @media screen and (min-width:1100px){
      display: flex;
      gap: 50px;
    }
  .containerInput{
    max-width: 900px;
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   gap: 40px;

}

.adres{
    width: 227px;
}
}  
}

.btnBuy{
   
    margin-top: 50px;
  .submitBuy{
    text-align: center;
    border-radius: 8px;
    background: #8A33FD;
    padding: 16px 20px;
    border: none;  
    color: white;
}  
}

.containerProduct{
  margin-top: 20px;

  min-width: 500px;
  background: #FFF;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
  @media screen and (min-width:590px){
 
    width: 550px;
  }
  @media screen and (min-width:1100px){
  width: auto;
  }
  
  .order{
    width: 376px;
    color: #3C4242;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 100;
    padding-top: 40px;
    padding-left: 20px;
    &::after{
        content: "";
        margin-top: 15px;
        display: block;
        height: 1px;
        width: 419px;
       background: rgb(166, 162, 162);
       opacity: 0.4;
    }

  }

  .total{
padding-left: 22px;
color: #3C4242;
padding-top: 20px;
font-family: Roboto;
font-size: 18px;

  }
  .total2{
padding-bottom: 30px;
  }
  .cardItem{
    padding: 0px 22px;
    padding-top: 30px;
    &::after{
      content: "";
      margin-top: 15px;
      display: block;
      height: 1px;
      width: 419px;
     background: rgb(166, 162, 162);
     opacity: 0.4;
  }
   .cardItemContainen{
    display: flex;
    font-family: Roboto;
   padding-bottom: 20px;

    .formImg{
        width: 125px;
    }
    .nameProductBuy{
        padding-top: 15px;
       padding-left: 12px;
    }
    .quantityProductBuy{
        padding-top: 15px;
       padding-left: 14px;
        color: #807D7E;
    }
    .priceProduct{
      align-self: center;
padding-left: 70px;
color: #807D7E;
font-family: Roboto;
font-size: 20px;
    }

    .colorProduct{
      padding-top: 10px;
    }
    .name{
      width: 136px;
    }

} 
}  
}


