.img{
  min-width: 573px;
  margin-top: 10px;
  height:843px;
  background-image: url("./iph.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 @media screen and (min-width:756px){
  width: 100%;
 }

}

.container-change{
    display: none;
  @media screen and (min-width:768px){
    display: flex;
  }
    .change-style{
        margin-top: 40px;
        margin-left:100px;
        text-align: center;
        border-radius: 8px;
        background: #8A33FD;
        padding: 10px 20px;
        border: none;  
        color: white;
        font-family: Roboto;
     }
}

