.thanksContainer{
   text-align: center;
   min-width: 570px;
	margin-top: 40px;
.thanksTekst{
    margin-bottom: 24px;
		font-size: 24px;
		font-weight: 900;
		line-height: 1;
        font-family: 'Roboto', sans-serif;
@media screen and (min-width:765px) {
	font-size: 56px;
}
}

.linkHome{
    text-decoration: underline;
}
}