body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    position: relative;
}

.img{
    margin-top: 10px;
    width: 100%;
    height:843px;
    background-image: url("./iph.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


a{
    text-decoration: none; 
    color: inherit;  
}
p{
    margin: 0;
    padding: 0;
}
