body{
    margin: 0;
    padding: 0;
}

.img{
    margin-top: 10px;
    width: 100%;
    height:500px;
    background-image: url("./iph.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
