.productTable-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.itemTableCard{
    width: 1500px;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
    position: relative;
    .nameProductTable{
font-size: 24px;
    }

    .priceTable{
font-size: 34px;
    }
    .add{
        display: flex;
        flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 20px;
     .btn-add{
        text-align: center;
        border-radius: 8px;
        background: #8A33FD;
        padding: 16px 20px;
        border: none;  
        color: white;
     }
    }
}
.all-img{
    width: 500px;
    padding-top: 30px;
}

.favoriteDefault{
position: absolute;
right: 0;
bottom: 65px;
}
