
.titleMac{
  margin: 0 auto;
  display: flex;
 padding-right: 20px;
 padding-left: 10px;
 min-width: 540px;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
  @media screen and (min-width: 762px){
    max-width: 1700px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .MACtitle{
    font-family: Roboto;
    font-size: 32px;
  }
  .titleDream{
    font-family: Roboto;
font-size: 24px;
  }
}
  .video{
   @media screen and (min-width:768px){
    margin: 0 auto;
    display: block;
    width: 90%;
    object-fit: cover;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    height: 900px;
   }
}  

/* Сховати плейбек-панель і елементи управління */
.video::-webkit-media-controls {
    display: none !important;
  }
  
  .video {
    outline: none; /* Сховати синю обводку для фокусу */
  }
  
  /* Заборонити відображення відеопанелі управління в браузерах Firefox та IE */
  .video::-moz-media-controls {
    display: none !important;
  }
  
  .video:-ms-media-controls {
    display: none !important;
  }
