.headeer{
    background-color: rgb(28, 27, 27);
        display: flex;
        justify-content: space-between;
        padding: 5px 30px;  
        align-items: center;
 .navMenu{
    display: flex;
    gap: 50px;
    list-style: none;
    color: white;
    font-family: 'Roboto', sans-serif;
  
 }

    .container-for-svg{
        display: flex;
        gap: 12px;
    }

}



.numF{
    position: relative;
    right: 29px;
    top: 7px;
    color: gray;
}

.numB{
    top: 7px;
    right: 26px;
    position: relative;
    color: gray;
}