.thanksContainer{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
.thanksTekst{
    margin-bottom: 24px;
		font-size: 56px;
		font-weight: 900;
		line-height: 1;
        font-family: 'Roboto', sans-serif;
}

.linkHome{
    text-decoration: underline;
}
}