.form-item {
	&.has-validation {
		.form-control {
			border-color: #dc3545;

			&:hover, &:focus {
				border-color: #dc3545;
				box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
			}
		}

		.error-message {
			margin-top: 4px;
			text-align: left;
			color: #dc3545;
		}
	}

    .form-label{
        padding: 7px 5px;
        margin: 0px;
        color: #3C4242;
     font-family: Roboto;
     font-size: 16px;
     font-weight: 100;
     line-height: normal;
     letter-spacing: 0.32px;
    
    }
    .form-control{
        border: none;
        padding: 16px 20px;
        border-radius: 8px;
        background: #edeaea;
        color: #7a7a7a;
        width: 382px;
    }
}
