.container-buttons{
    text-align: center;
    
   .button{
  color: white;
  background-color: blue;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 15px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: rgb(76, 76, 160);
  }
} 
}



