body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

    .container_svg{
        display: flex;
        gap: 12px;
    }
}


.product-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 40px;


    .product-card{
       
        .all-img{
            width: 400px;
        }

        .name{
        display: flex;
        padding-left: 20px ;
        .fv{
            padding-top: 12px;
            padding-left: 10px;
        }
       }
    .price{
        font-size: 28px;
        margin: 0;

    }

    .add{
        display: flex;
        .btn-add{
            margin-left: 150px;
        }
    }

    .btn-add{
        background: #F6F6F6;
        border: none;
        border-radius: 7px;
    }
    }
   
    
}

.favorite{
    fill: red;
}

.buyCard{
    background-color: green;
}




