

.containerForVideo{
 text-align: center;
  .video{
    width: 100%;
    height: 900px;
    
    object-fit: cover;
    position: relative;
   
}  
}
/* Сховати плейбек-панель і елементи управління */
.video::-webkit-media-controls {
    display: none !important;
  }
  
  .video {
    outline: none; /* Сховати синю обводку для фокусу */
  }
  
  /* Заборонити відображення відеопанелі управління в браузерах Firefox та IE */
  .video::-moz-media-controls {
    display: none !important;
  }
  
  .video:-ms-media-controls {
    display: none !important;
  }
