body{
    background-color: #f5f5f7;
    margin: 0;
    padding: 0;
   position: relative;
   min-height: 160vh; 
}



a{
    text-decoration: none; 
    color: inherit;  
}
p{
    margin: 0;
    padding: 0;
}
