.modal-wraper{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 100;


.modal{
    background-color: white;
    max-width: 560px;
	width: 100%;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 position: relative;

 .icon{
    position: absolute;
    right: 16px;
    top: 16px;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}

.image{
width: 276px;
height: 140px;
background: #D9D9D9;
margin: 0 auto;
margin-top: 56px;
margin-bottom: 85px;
}

.delete-message{
    padding-top: 40px;
   text-align: center;
color: #191919;
    font-size: 32px;
font-weight: 400;
font-family: 'Inter';
}


.instructie{
    color: #7F7F7F;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
padding: 0px 56px;
padding-bottom: 64px;
}
.buttons{
    padding: 20px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;

.firstbutton{
    display: flex;
justify-content: center;
align-items: center;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
width: 192px;
height: 48px;
border-radius: 8px;
background: #8A33FD;
border: none;
}
.second{
    background: #ffffff;
    color: #8A33FD;
    border-radius: 8px;
border: 1px solid #3C4242
}
}
}


}












