
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

    .container_svg{
        display: flex;
        gap: 12px;
    }
}


.product-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 40px;
    padding-bottom: 43px;

    .product-card{
       background-color: white;
border-radius: 20px;
        .all-img{
            width: 500px;
            padding-top: 30px;
        }

        .name{
        text-align: center;
        padding-left: 20px ;
      
       }
    .price{
        padding-bottom: 30px;
        font-size: 28px;
        margin: 0;

    }

    .add{
        display: flex;
       justify-content: center;
       padding-bottom: 30px;
       gap: 10px;
       padding-left: 20px;
    }

    .btn-add{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F6F6F6;
        border: none;
        border-radius: 7px;
        padding: 10px;
       

    }
    }
   
    
}

.favorite{
    fill: red;
}


.textAddCard{
margin: 0;
padding: 0;
}

.nameProduct{
    padding-top: 10px;
}