.header{

    background-color: rgb(28, 27, 27);
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;  
        
    

    .container-for-svg{
        display: flex;
        gap: 12px;
    }
}


.img{
    margin-top: 10px;
    width: 100%;
    height:500px;
    background-image: url("../icons/iph.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.numF{
    position: relative;
    right: 25px;
    top: 7px;
    color: gray;
}

.numB{
    top: 7px;
    right: 22px;
    position: relative;
    color: gray;
}