.headeer{
    background-color: rgb(28, 27, 27);
        display: flex;
        justify-content: space-between;
         padding: 5px 10px;
        align-items: center;
        min-width: 555px;
        position: relative;
        @media screen and (min-width: 768px){
            padding: 5px 30px; 
        }
 .navMenu{
    display: none;
    @media screen and (min-width:768px){
        display: flex;
        gap: 50px;
        list-style: none;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
 }

    .container-for-svg{
        display: flex;
        gap: 12px;
    }

}

.numF{
    font-size: 15px;
    position: relative;
    right: 30px;
    top: 25px;
    color: gray;
}

.numB{
    font-size: 15px;
    top: 25px;
    right: 27px;
    position: relative;
    color: gray;
}


.navMenu2{
    width: 293px;
    height: 348px;
    background: black;
    position: absolute;
    list-style: none;
    color: white;
    top: 46px;
    z-index: 1;
    padding: 0;
   margin-left: 282px;
   
   @media screen and (min-width: 768px){
    display: none;
 }
    .navItem{
        font-family: Roboto;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        &:hover{
            background-color: gray;
        }
    }
}

.conteinerBurger{
    order: 2;
    @media screen and (min-width: 768px){
        display: none;
     }
    .burger-menu{
        margin-bottom: 6px;
        width: 25px;
        height: 3px;
        background-color: white;
        position: relative;
        &::after{
            content: "";
            width: 25px;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 7px;
        }
        &::before{
            content: "";
            width: 25px;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 15px;
        }
        @media screen and (min-width: 768px){
           display: none;
        }
    }
}
