


.footer{
    min-width: 575px;
    position: absolute;
    bottom: -85px;
    width: 100%;
    background-color: rgb(28, 27, 27);
    @media screen and (min-width:768px){
        bottom: -70px;
       }
    .text_footer{
padding: 20px;
text-align: center;
color: white;
font-size: 20px;
    }
}